@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Fira+Sans:wght@400;500;600;700&family=Gentium+Book+Basic:wght@400;700&family=Lobster&family=Lora:wght@400;500;600&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Spartan:wght@100;200;300;400;500;600;700;900&family=Waterfall&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70vh;
    background: linear-gradient( rgba(77, 74, 74, 0.547), rgba(14, 12, 12, 0.501) ),url("https://images.pexels.com/photos/1634380/pexels-photo-1634380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")center center fixed;
    background-size: cover; 
}
nav{
    display: flex;
    justify-content: start;
    gap: 10%;
    align-items: center;
    width: 100%;
    padding: .5% 2%;

    .logo{
        font-size: 2.5rem;
        color: #68143f;
        text-shadow: 2px 2px 4px black;
        span{
            font-size: 1.5rem;
            color: white;
        }
    }

    .dropdown{
        display: flex;
        &:hover .dropContnt{
            display: block;
            margin-top: 1.2%;
            width: 90%;
        }

        .drpbtn{
            font-size: 1vw;
            cursor: pointer;
            color: #68143f;
            transition: all .3s linear;
            &:hover{
                text-decoration: underline;
                color: white;
                text-shadow: 2px 2px 4px black;
            }
        }

        .dropContnt{
            position: absolute;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 100%;
            left: 0;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            .row{
                min-width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 4%;
                position: relative;
                

                .col{
                    display: flex;
                    flex-direction: column;

                    h3{
                        margin-bottom: 2%;
                        color: brown;
                    }

                    a{
                        font-size: 0.8rem;
                        margin: 5%;
                        width: 100%;
                        display: flex;
                        justify-content: start;
                        gap: 20px;
                        text-decoration: none;
                        color: #222;
                        transition: all .5s linear;
                        &:hover{
                            color: red;
                        }
                        i{
                            color: maroon;
                        }
                    }
                }
            }
        }
    }
}
.text{
    padding-top: 8%;
    padding-left: 5%;
    h1{
        color: #68143f;
        span{
            font-size: 1rem;
            color: white;
        }
    }
    button{
        padding: 1% 3%;
        background: transparent;
        border: solid 1px white;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 2%;
        cursor: pointer;
        border-radius: 5px;
        transition: all .5s linear;
        &:hover{
            background: white;
            color: #68143f;
        }
    }
}
.book{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 90%;
    padding-top: 0%;
    margin-top: -2%;
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 5%;
    i{
        font-size: 22px;
        color: white;
    }
    .toggle{
        display: flex;
        justify-content: space-between;
        padding: 2%;
        color: white;
        border-radius: 5px;
        background-color: #68143f;
        .tab1{
            padding: 1% 8%;
        }
        .tab2{
            padding: 1% 8%;
        }
        .tab3{
            padding: 1% 8%;
        }
        .tab4{
            padding: 1% 8%;
        }
    }
    input{
        padding: 1% 1%;
        width: 20%;
        border: 1px solid grey;
        border-radius: 10px;
    }
    select{
        padding: 1% 3%;
        border: 1px solid grey;
        border-radius: 10px;  
    }
    #book{
        padding: 2%;
        .txt{
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: 2%;
            gap: 10px;
            color: maroon;
            button{
                padding: 1% 9%;
                background-color: goldenrod;
                border: none;
                font-size: 1.2rem;
                border-radius: 5px;
                cursor: pointer;
                i{
                    color: #222;
                }
            }
        }
    }
    #trip{
        padding: 2%;
        input{
            width: 40%;
            padding-top: 1.5%;
            padding-bottom: 1.5%;
        }
        button{
            padding: 1% 3%;
            background-color: goldenrod;
            border: none;
            font-size: 1.2rem;
            border-radius: 5px;
            cursor: pointer;
            i{
                color: #222;
            }
        }
        p{
            color: maroon;
            padding: 2%;
        }
    }
    #checkIn{
        padding: 2%;
        input{
            width: 40%;
            padding-top: 1.5%;
            padding-bottom: 1.5%;
        }
        button{
            padding: 1% 3%;
            background-color: goldenrod;
            border: none;
            font-size: 1.2rem;
            border-radius: 5px;
            cursor: pointer;
            i{
                color: #222;
            }
        }
        p{
            color: maroon;
            padding: 2%;
        }
    }
    #flightStatus{
        padding: 2%;
        input{
            width: 27%;
            padding-top: 1.5%;
            padding-bottom: 1.5%;
        }
        select{
            width: 27%;
            padding-top: 1.5%;
            padding-bottom: 1.5%;
        }
        button{
            padding: 1% 5%;
            background-color: goldenrod;
            border: none;
            font-size: 1.2rem;
            border-radius: 5px;
            cursor: pointer;
            i{
                color: #222;
            }
        }
        p{
            color: maroon;
            padding: 2%;
        }
    }
}
.hide{
    display: none;
}
.active{
    background-color: white;
    color: #68143f;
    i{
        color: #68143f;
    }
}


.img{
    width: 20%;
    height: 50vh;
    background: url('https://images.pexels.com/photos/8766370/pexels-photo-8766370.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') center center  no-repeat;
    background-size: cover; 
    border-radius: 15px;
}
.img2{
    width: 20%;
    height: 50vh;
    background: url('https://images.pexels.com/photos/804463/pexels-photo-804463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center center  no-repeat;
    background-size: cover; 
    border-radius: 15px;
}.img3{
    width: 20%;
    height: 50vh;
    background: url('https://images.pexels.com/photos/3943885/pexels-photo-3943885.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') center center  no-repeat;
    background-size: cover; 
    border-radius: 15px;
}
.one{
    width: 90%;
    height: 50vh;
    margin: auto;
    position: relative;
    p{
        padding-bottom: 2%;
    }
    .flex{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        gap: 50px;

        .flexItem{
            width: 30%;
            height: 50%;
            border-radius: 15px;
            border: 1px solid rgb(190, 181, 181);
            transition: all .3s linear;
            cursor: pointer;
            img{
                width: 100%;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                height: 80%;
                object-fit: cover;
            }
            p{
                padding:0% 4%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: left;
                color: maroon;
            }

            &:hover{
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    }
}
.two{
    // background-color: blue;
    width: 90%;
    position: relative;
    margin: auto;
    height: auto;

    // color: #68143f;
    select{
        padding: 1% 7%;
    }
}
.parent {
    display: grid;
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
    // position: absolute;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 3px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 3 / 3; 
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        height: 60vh;
        img{
            width: 100%;
            height: 100%;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #68143f9f;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
          &:hover .overlay {
            height: 80%;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    .div2 { 
        grid-area: 1 / 3 / 2 / 4; 
        height: 30vh;
        width: 100%;
        background-color: aqua;
        position: relative;
        border-radius: 10px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #68143f9f;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
          &:hover .overlay {
            height: 100%;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: .9rem;
            button{
                font-size: 1rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
    .div3 { 
        grid-area: 1 / 4 / 2 / 5; 
        height: 30vh;
        width: 100%;
        background-color: aqua;
        position: relative;
        border-radius: 10px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #68143f9f;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
          &:hover .overlay {
            height: 100%;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: .9rem;
            button{
                font-size: 1rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
    .div4 { 
        grid-area: 2 / 3 / 3 / 4; 
        height: 30vh;
        width: 100%;
        background-color: aqua;
        position: relative;
        border-radius: 10px;
        
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #68143f9f;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
          &:hover .overlay {
            height: 100%;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: .9rem;
            button{
                font-size: 1rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
    .div5 { 
        grid-area: 2 / 4 / 3 / 5; 
        height: 30vh;
        width: 100%;
        background-color: aqua;
        position: relative;
        border-radius: 10px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #68143f9f;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
          &:hover .overlay {
            height: 100%;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: .9rem;
            button{
                font-size: 1rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
    .div6 { 
        grid-area: 3 / 1 / 4 / 2;
        height: 30vh;
        width: 100%;
        background-color: aqua;
        position: relative;
        border-radius: 10px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #68143f9f;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
          &:hover .overlay {
            height: 100%;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: .9rem;
            button{
                font-size: 1rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
    .div7 { 
        grid-area: 3 / 2 / 4 / 3; 
        height: 30vh;
        width: 100%;
        background-color: aqua;
        position: relative;
        border-radius: 10px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #68143f9f;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
          &:hover .overlay {
            height: 100%;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: .9rem;
            button{
                font-size: 1rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
    .div8 { 
        grid-area: 3 / 3 / 4 / 4; 
        height: 30vh;
        width: 100%;
        background-color: aqua;
        position: relative;
        border-radius: 10px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #68143f9f;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
          &:hover .overlay {
            height: 100%;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: .9rem;
            button{
                font-size: 1rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
    .div9 { 
        grid-area: 3 / 4 / 4 / 5; 
        height: 30vh;
        width: 100%;
        background-color: aqua;
        position: relative;
        border-radius: 10px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #68143f9f;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
          &:hover .overlay {
            height: 100%;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: .9rem;
            button{
                font-size: 1rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
.btn{
    width: 100%;
    height: 5vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        padding: 1% 3%;
        border: 1px solid #68143f;
        background: transparent;
        border-radius: 3px;
        font-size: 1rem;
        color: #68143f;
        transition: all .3s linear;
        cursor: pointer;
        &:hover{
            background: #68143f;
            color: white;
        }
    }
}
 #priv{
    background: linear-gradient( rgba(77, 74, 74, 0.547), rgba(14, 12, 12, 0.501) ),url('https://images.pexels.com/photos/1309644/pexels-photo-1309644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')center center no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    .priv{
        background-color: rgba(0, 0, 0, 0.699);
        padding: 1% 1%;
        width: 40%;
        margin-top: 5%;
        margin-left: 8%;
        position: absolute;
        color: white;
        border-radius: 5px;
        button{
            padding: 2% 8%;
            background: transparent;
            border: 1px solid #fff;
            color: white;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s linear;
            &:hover{
                background-color: #fff;
                color: #68143f;
            }
        }
    }
 }   


 #baggage{
    background: linear-gradient( rgba(77, 74, 74, 0.547), rgba(14, 12, 12, 0.501) ),url('https://cdn.vox-cdn.com/thumbor/jtGFeFPqu_9iA2sGVv356APGKp4=/0x0:5500x3672/1200x800/filters:focal(3421x2286:4301x3166)/cdn.vox-cdn.com/uploads/chorus_image/image/65993162/GettyImages_988984710.0.jpg')center center no-repeat;
    background-size: cover;
    background-position:  right 30%;
    height: 50vh;
    position: relative;
    .bag{
        background-color: rgba(0, 0, 0, 0.712);
        padding: 1% 1%;
        width: 50%;
        margin-top: 5%;
        margin-left: 8%;
        position: absolute;
        color: white;
        border-radius: 5px;
        h1{
            padding: 3%;
        }
        p{
            padding-bottom: 3%;
            padding-left: 3%;
        }
        button{
            margin-left: 3%;
            padding: 2% 8%;
            background: transparent;
            border: 1px solid #fff;
            color: white;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s linear;
            &:hover{
                background-color: #fff;
                color: #68143f;
            }
        }
    }
 }   


 #mobile{
    background: linear-gradient( rgba(77, 74, 74, 0.547), rgba(14, 12, 12, 0.501) ),url('http://www.ngrguardiannews.com/wp-content/uploads/2015/03/Mobile-App-developers.jpg')center center no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    .mobi{
        background-color: rgba(0, 0, 0, 0.712);
        padding: 1% 1%;
        width: 50%;
        margin-top: 5%;
        margin-left: 8%;
        position: absolute;
        color: white;
        border-radius: 5px;
        h1{
            padding: 3%;
        }
        p{
            padding-bottom: 3%;
            padding-left: 3%;
        }
        button{
            margin-left: 3%;
            padding: 2% 8%;
            background: transparent;
            border: 1px solid #fff;
            color: white;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s linear;
            &:hover{
                background-color: #fff;
                color: #68143f;
            }
        }
    }
 }   

 #toronto{
    background: linear-gradient( rgba(77, 74, 74, 0.547), rgba(14, 12, 12, 0.501) ),url('https://images.pexels.com/photos/1519088/pexels-photo-1519088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')center center no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    .tor{
        background-color: rgba(0, 0, 0, 0.712);
        padding: 1% 1%;
        width: 50%;
        margin-top: 5%;
        margin-left: 8%;
        position: absolute;
        color: white;
        border-radius: 5px;
        h1{
            padding: 3%;
        }
        p{
            padding-bottom: 3%;
            padding-left: 3%;
        }
        button{
            margin-left: 3%;
            padding: 2% 8%;
            background: transparent;
            border: 1px solid #fff;
            color: white;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s linear;
            &:hover{
                background-color: #fff;
                color: #68143f;
            }
        }
    }
 }   
 .togg{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 2%;
    color: rgb(199, 190, 190);
    border-radius: 5px;
    background-color: #68143f;
    cursor: pointer;
}
.active1{
     color: white;
}
.three{
    width: 90%;
    margin: auto;
    padding: 2%;
}
.four{
    width: 100%;
    height: 49vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;



    .african{
        height: 100%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        width: 40%;
        border-radius: 5px;
        img{
            width: 100%;
            height: 60%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        p{
            padding: 1% 2%;
            color: grey;
        }
        h2{
            padding: 2%;
            color: #68143f;
        }
        span{
            padding: 2%;
            a{
                color: #68143f;
                text-decoration: none;
            }
        }
    }

    .studentClub{
        height: 100%;
        width: 40%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        color: #222;
        border-radius: 5px;
        img{
            width: 100%;
            height: 60%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        p{
            padding: 1% 2%;
            color: grey;
        }
        h2{
            padding: 2%;
            color: #68143f;
        }
        span{
            padding: 2%;
            a{
                color: #68143f;
                text-decoration: none;
            }
        }
    }
}
.five{
    width: 90%;
    margin: auto;
    padding-top: 5%;
    p{
        color: rgb(163, 157, 157);
        font-size: 0.9rem;
    }
}
.six{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 4%;
    width: 90%;
    margin: auto;
    .sixCont{
        width: 30%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        img{
            width: 100%;
            height: 80%;
            object-fit: cover;
        }
        a{
            text-decoration: none;
            padding:2% 4%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            color: maroon;
        }
    }
}
.last{
    height: 60vh;
    width: 90%;
    background: url('https://www.qatarairways.com/content/dam/images/custom/enl-subscribe-component/NL_Background_Desktop.png')center center no-repeat;
    margin: auto;
    position: relative;
    .lastCont{
        position: absolute;
        right: 7%;
        top: 20%;
        width: 45%;
        height: 30vh;
        color: #fff;
        button{
            right: 1%;
            position: absolute;
            margin-left: 3%;
            padding: 2% 8%;
            background: transparent;
            border: 1px solid #fff;
            color: white;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s linear;
                &:hover{
                    background-color: #fff;
                    color: #68143f;
                }
        }
        .form{
            display: flex;
            justify-content: start;
            align-items: center;
            input{
                height: 7vh;
                width: 80%;
                border: none;
                &::placeholder{
                    flex: 1.5rem;
                    padding-left: 2%;
                }
            }
            input[type="email"]{
                border-right: solid 1px grey;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            input[type="text"]{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
        input[type="checkbox"] {
            width: 9%;
            cursor: pointer;
        }
        span{
            font-size: 0.8rem;
        }
        p{
            padding: 2% 0%;
        }
    }
}
footer{
    width: 100%;
    margin-top: 5%;
    height: 100vh;
    background-color: #68143f;
    position: relative;
    .foot{
        padding: 5%;
        .top{
            display: flex;
            justify-content: space-between;
            .topItem{
                h2{
                    font-size: 1rem;
                    color: #fff;
                }
                ul{
                    list-style-type: none;
                    li{
                        margin: 10%;
                        a{
                            text-decoration: none;
                            color: rgb(214, 203, 203);
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            .topIcons{
                h2{
                    font-size: 1rem;
                    color: white;
                    padding-bottom: 3%;
                }
                i{
                    color: white;
                    font-size: 1.5em;
                    margin: 1.5%;
                    cursor: pointer;
                }
            }
        }
        .bottom{
            display: flex;
            gap: 29px;
            justify-content: start;
            margin-top: 6%;
            .botItem{
                color: #fff;
                .pic{
                    width: 100px;
                    height: 100px;
                    margin-bottom: 4%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    #bt{
        position: absolute;
        left: 50%;
    }
    h3{
        display: flex;
        justify-content: center;
        padding: 1%;
        font-size: 0.9rem;
        color: white;
    }
}
hr{
    width: 90%;
    margin: auto;
}
